/*
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Accumen
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20120712
*/

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: underline;
	color: #FF381A;
}

a:hover {
	text-decoration: none;
}

div.absolute {
    position: absolute;
    top: 345;
    left: 30;
    width: 210;
    line-height: 13px;
} 
div.relative {
    position: relative;
    left: 10px;
}


}
p.para {
	position: absolute;
	left: 235px;}

p.bottomcap {
	position: relative;
	font-size:13px;
	line-height: 13px;
	left: 40px;
	top: -20px;}

body {
    background-image: url("im/koru.png");
    background-repeat: repeat;
	line-height: 1.75em;
	/*background: #06089e;*/
	font-size: 16pt;
	color: #000000;
}

body,input {
	font-family: Lato, sans-serif;
}

br.clearfix {
	clear: both;
}

h1,h2,h3,h4 {
	text-transform: uppercase;
	font-weight: normal;
}

h2 {
	font-size: 1.5em;
}

h2,h3,h4 {
	font-family: "Open Sans", sans-serif;
	color: #06089e;
	margin-bottom: 1em;
}

h3 {
	font-size: 1.25em;
}

h4 {
	font-size: 1em;
}

img.alignleft {
	float: left; 
	margin: 5px 30px 20px 0;
}

img.aligntop {
	margin: 5px 0 20px 0;
}

p {
	margin-bottom: 1.5em;
}

ul {
	margin-bottom: 1.5em;
}

ul h4 {
	margin-bottom: 0.35em;
}

a {
	color: #d80606;
}

.box {
	margin: 0 0 50px 0;
	position: relative;
}

#content {
	padding: 0;
	width: 615px;
	margin: 0 0 0 285px;
}

#footer {
	padding: 50px 0 80px 0;
	text-align: center;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.7);
	color: #587477;
}

#footer a {
	color: #587477;
}

#header {
	height: 110px;
	padding: 10px;
	position: relative;
}

#logo {
	position: absolute;
	top: 0px;
	left: 40px;
	height: 130px;
	line-height: 130px;
}

#logo a {
	color: #2A3436;
	text-decoration: none;
}

#logo h1 {
	font-family: "Open Sans", sans-serif;
	font-size: 3em;
}

#menu {
	line-height: 1px;
	position: absolute;
	right: 40px;
	top: 76px;
	height: 27px;
	font-family: "Open Sans", sans-serif;
}

#menu a {
	text-transform: uppercase;
	text-decoration: none;
	color: #1C1C1C;
	font-size: 1.2em;
}

#menu ul {
	padding: 0 20px 0 20px;
	list-style: none;
}

#menu ul li {
	display: inline;
	padding: 10px 10px 10px 10px;
	margin: 0 8px 0 8px;
}

#menu ul li.active {
	background: #F2EBDE;
	border: solid 1px #BFB5A4;
	box-shadow: inset 0px 0px 0px 1px #fff;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.9);
}

#menu ul li.active a {
	color: #403B31;
}

#page {
	margin: 0;
	position: relative;
	width: 900px;
	padding: 20px 40px 0 40px;
}

#page .section-list {
	padding-left: 0;
	list-style: none;
}

#page .section-list li {
	padding: 25px 0 25px 0;
	clear: both;
}

#page ul {
	list-style: none;
}

#page ul li {
	border-top: solid 1px #DDD;
	padding: 10px 0 10px 0;
}

#page ul li.first {
	padding-top: 0;
	border-top: 0;
}

#page-bottom {
	padding: 40px 40px 0 40px;
	color: #302F2C;
	background: #F2EBDE;
	position: relative;
	width: 898px;
	border-top: solid 1px #BFB5A4;
	box-shadow: inset 0px 0px 0px 1px #fff;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.9);
}

#page-bottom a {
	color: #1B1A18;
}

#page-bottom h2, #page-bottom h3, #page-bottom h4 {
	color: #3F3D39;
}

#page-bottom ul {
	list-style: none;
}

#page-bottom ul li {
	border-top: solid 1px #BAB5AB;
	padding: 10px 0 10px 0;
}

#page-bottom ul li.first {
	border-top: 0;
	padding-top: 0;
}

#page-bottom-content {
	width: 615px;
	margin: 0 0 0 285px;
}

#page-bottom-sidebar {
	float: left;
	width: 250px;
}

#sidebar {
	position: relative;
	left: -20px;
	top: -20px;
	float: left;
	width: 240px;
	background: #EEF5F6;
	padding: 20px;
	border: solid 1px #D6E0E2;
	margin: 0 10px 0 0;
	text-shadow: 1px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 0px 0px 1px #fff;
}

#wrapper {
	width: 1078px;
	position: relative;
	left: -20px;
	padding: 0 0 0 50px;
	background: #FFF;
	margin: auto auto auto auto;
	box-shadow: 0px 0px 150px 0px rgba(0,0,0,0.15);
	border: solid 10px #000000;
	border-top: 0;
}


/* Dashed border */
hr.dashed {
	border-top: 3px dashed #bbb;
  }
  
  /* Dotted border */
  hr.dotted {
	border-top: 3px dotted #bbb;
  }
  
  /* Solid border */
  hr.solid {
	border-top: 3px solid #bbb;
  }
  
  /* Rounded border */
  hr.rounded {
	border-top: 8px solid #bbb;
	border-radius: 5px;
  }

  .image-container {
	float: left;
	display: flex;
	flex-wrap: auto;
	max-width: 800px;
	align-content: center;
	margin-left: 15%;
  }
  
  .officers-container {
	flex: 2 2 50%;
	padding: 0px 1rem;
	box-sizing: initial;
  }
  
  img.cat {
	width: 100%;
	height: 160px;
  }
  
  .caption {
	font-size: 20px;
	text-align: center;
	font-family: Lato, sans-serif;
	line-height: 1.75em;
	color: #000000;
  }